.wrapper {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.section_counter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
}

.card div {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  cursor: pointer;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card_active {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.section_coffee {
  width: 100%;
}

.cards_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 24px;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100%;
  padding: 8px;
  gap: 16px;
}
